$blueColor: #1c2541;
$aquaColor: #21FA90;
$greenColor: #B3B3F1;
$redColor: #de3c4b;
$purpleColor: #bd2e9d;
$darkGrayColor: #424651;
$purpleClairColor: #bd2e9d;

body,html {
  height: 100%;
  background-color: $darkGrayColor !important;
  min-height: 1200px;
}

.react-bootstrap-table table {
  table-layout: auto;
}

.stickyTest{
  height: 40px;
}

.center {
  text-align: center;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $blueColor;
  color: white;

  h1 {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
  }

  input {
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid $aquaColor;
      padding: 14px 10px;
      width: 200px;
      outline: none;
      border-radius: 5px;
      transition: 0.25s;
      color: white;
  }

  input:focus{
    width: 220px;
    color: white;
    border-color: $greenColor;
  }

  button[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $greenColor;
    padding: 14px 10px;
    width: 120px;
    outline: none;
    border-radius: 50px;
    transition: 0.25s;
    color: white;

    &:hover {
      background: $greenColor;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid $greenColor;
      padding: 14px 10px;
      width: 140px;
      outline: none;
      border-radius: 50px;
      color: white;
    }
  }
}

.navbar-item:hover {
  color: white !important;
  background: rgba(255, 255, 255, 0.1) !important;
  border-radius: 20px;
}

.btn-circle.btn-sm {
  width: 50px;
  height: 50px;
  padding: 6px 0;
  border-radius: 25px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

html *{
  -webkit-font-smoothing: antialiased;
}
h3{
  font-size: 25px !important;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.4em !important;
}

p {
  font-size: 14px;
  margin: 0 0 10px !important;
  font-weight: 300;
}

small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}

header .container {
  max-width: 100% !important;

  .btn-secondary {
    background: none;
    border: none;
  }
  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
  }
  .dropdown-menu {
    margin-top: 20px;
    border-radius: 15px;
  }
}

.main-header {
  margin-top: 1rem !important;
  transition: 0.25s;
  z-index: 2;
}

.btnSidebar {
  padding: 0 !important;
  background: none !important;
  border: none !important;
  font-size: 1.1rem !important;
  margin-left: 12px;
}

.breadcrumb-bar {
  width: 100%;
  position: fixed;
  background: linear-gradient(40deg,#008dd5,#531cb3);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white !important;
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
  padding: .5rem;
  width: -moz-fit-content;

}


.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover
{
  color: white !important;

}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  padding: .5rem;
  width: -moz-fit-content;
  &:hover{
    color: white !important;
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 20px;
    width: -moz-fit-content;

  }
}

.container .title{
  color: #3c4858;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
}

.container .title h3{
  font-size: 25px;
  font-weight: 300;
}


div.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: rgba(0,0,0,.87);
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

div.card.card-plain {
  background: transparent;
  box-shadow: none;
}

div.card .card-header {
  border-radius: 3px;
  padding: 1rem 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border: 0;
  background: linear-gradient(60deg,#eee,#bdbdbd);
}

.header-dashboard {
  z-index: 1000;
  background: linear-gradient(60deg, #bd2e9d, #de3c4b);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(156, 39, 176, 0.6);

  padding: 1rem 15px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
  transition: 0.25s;

  border: 0;
}

.dashboard-content {
  border-radius: 5px;
  margin-top: -30px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  height: auto;
  transition: .25s;

}

.card-plain .card-header:not(.card-avatar) {
  margin-left: 0;
  margin-right: 0;
}

/*
.div.card .card-body{
  padding: 15px 30px;
}*/

.card-body{
  padding: 15px 30px;
}

.sticky.is-sticky {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

nav{
  min-height: 60px;
}

div.card .card-header-primary {
  background: linear-gradient(60deg,#bd2e9d,#de3c4b);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}

div.card .card-header-danger {
  background: linear-gradient(60deg,#ef5350,#d32f2f);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6);
}

div.login {
  border-radius: 10px;
  background: linear-gradient(60deg,$purpleColor,#de3c4b);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
  width: 500px;
  color: white;

  input {
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $purpleColor;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    border-radius: 15px;
    transition: 0.25s;
  }

  input:focus{
    width: 320px;
    border-color: $aquaColor;
  }

  button[type="submit"] {
    display: block;
    background: linear-gradient(40deg,#008dd5,#531cb3);
    border: none;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    outline: none;
    border-radius: 50px;
    transition: 0.25s;
    color: white;

    width: 120px;
    &:hover {
      background: linear-gradient(120deg,#008dd5,#531cb3);
      box-shadow: 4px 4px 2px -1px rgba(0,0,0,0.25);

      display: block;
      margin: 20px auto;
      text-align: center;
      padding: 14px 10px;
      outline: none;
      border-radius: 50px;
      color: white;
      transition: 0.25s;

    }
  }
}

.list-group-item {
  color: #3c4858;
}

.actionButton{
  background: linear-gradient(40deg,#008dd5,#531cb3);
  border-radius: 60px !important;
  outline: none;
  transition: 0.25s;

  &:hover {
    background: linear-gradient(120deg,#008dd5,#531cb3);
    box-shadow: 4px 4px 2px -1px rgba(0,0,0,0.25);
    text-align: center;
    outline: none;
    border-radius: 60px;
    color: white;
    transition: 0.25s;
  }
}

.addButton {
  border-radius: 50px;
  border: 2px solid $greenColor;
  color: $darkGrayColor;
  background: none;
  width: 130px;
  outline: none;
  transition: 0.25s;

  &:hover {
    background: $greenColor;
    text-align: center;
    outline: none;
    border-radius: 60px;
    color: white;
  }
}

.neutralButton{
  color: black;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $greenColor;
  padding: 14px 10px;
  width: 80px;
  outline: none;
  border-radius: 50px;
  transition: 0.25s;

  &:hover {
    background: $greenColor;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $greenColor;
    padding: 14px 10px;
    outline: none;
    border-radius: 50px;
    color: white;
  }
}


.card-nav-tabs .card-header {
  margin-top: -30px!important;
}

.card .card-header .nav-tabs {
  padding: 0;
}

.nav-tabs {
  border: 0 !important;
  border-radius: 3px;
  padding: 0 15px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: hsla(0,0%,100%,.2);
  transition: background-color .3s .2s;
}

.nav-tabs .nav-item .nav-link{
  border: 0!important;
  color: #fff!important;
  font-weight: 500;
}

.nav-tabs .nav-item .nav-link {
  color: #fff;
  border: 0;
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  font-size: 12px;
  padding: 10px 15px;
  background-color: transparent;
  transition: background-color .3s 0s;
}

.nav-link{
  display: block;
}

.nav-tabs .nav-item .material-icons {
  margin: -1px 5px 0 0;
  vertical-align: middle;
}

.nav .nav-item {
  position: relative;
}

footer{
  margin-top:100px;
  color: #555;
  background: #fff;
  padding: 25px;
  font-weight: 300;

}
.footer p{
  margin-bottom: 0;
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 300;
}
footer p a{
  color: #555;
  font-weight: 400;
}

footer p a:hover {
  color: #9f26aa;
  text-decoration: none;
}

.fadeInLoad {
  animation: fadeInLoad 1s;
}

@keyframes fadeInLoad {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeOut {
  animation-fill-mode: none;
  animation: fadeOut .5s forwards;
}

@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}

.bounce {
  outline: 0;
  border: 2px solid $redColor !important;
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}

.grow
{
  transition: all .2s ease-in-out;
}

.grow:hover
{
  transform: scale(1.1);
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }

  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }

  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }

  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }

  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }

  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }

  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }

  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

@keyframes scale {
  100% {
    transform: scale(0.5);
    animation-timing-function: ease-in-out;
  }
}

/*=== Basic box styling  ===*/
.box {
  background: #23a3d3;
  width: 90px;
  height: 70px;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 7px;
  float: left;
  margin: 4px;
  font-size: 12px;
  text-transform: uppercase;
}


/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.three {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.four {
  -webkit-animation-delay: 3.3s;
  -moz-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
  z-index: 1;
  position: fixed;
}

.sidebar.is-open {
  margin-left: 0;
  transition: .5s;
}


.sidebar-header {
  background: #6d7fcc;
}

.sidebar-header h3{
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #6d7fcc;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: .5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #5466B3;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #3A4C99;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fade-out.one {-webkit-animation-delay: .5s;}

@-webkit-keyframes fade-out {
  0% { opacity: 1; -webkit-transform: scale(1);}
  85% {opacity: 1; -webkit-transform: scale(1.05);}
  100% {-webkit-transform: scale(.1); opacity: 0;}
}

.fade-out {
  -webkit-animation: fade-out .5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  background-color: #000;
  width: 100px;
  height: 100px;
  opacity: 1;
}

/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;


}

@media screen and (max-width: 1287px){

  .main-header {
    margin: 0 !important;
    transition: 0.25s;
  }

  .header-dashboard {
    margin: 0;
    border-radius: 0;
    transition: 0.25s;

  }
}

@media screen and (max-width: 1200px){

  .dashboard-content{
    margin: -70px 0 0 0;
    transition: .25s;
  }
}

